# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.log

# IntelliJ
*.iml
/.idea

# Directories
Debug
x64
OpenGL/Debug
OpenGL/x64
/cmake-build-debug/
/cmake-build-release/
